.popup__input_type_imagelink{
    height:27px;
    width:100%;
    box-sizing: border-box;
    /*margin-left: 22px;
    margin-right: 22px;*/
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;    
}

@media screen and (min-width:624px) {
    .popup__input_type_imagelink{
        /*margin-left: 36px;
        margin-right: 36px;*/
    }
 }